@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p>This Privacy Policy describes how CookCrafts collects, uses, and shares information about you when you use our website or services. By accessing or using our website, you consent to the practices described in this Privacy Policy.</p>

<h2>Information We Collect</h2>

<p>We may collect the following types of information:</p>

<ol>
    <li><strong>Personal Information:</strong> When you create an account, make a purchase, or contact us, we may collect information such as your name, email address, shipping address, and payment information.</li>
    <li><strong>Usage Information:</strong> We may collect information about how you interact with our website, including your browsing history, the pages you visit, and the products you view.</li>
    <li><strong>Device Information:</strong> We may collect information about the device you are using to access our website, including the device type, operating system, and browser type.</li>
    <li><strong>Cookies and Tracking:</strong> We may use cookies and similar tracking technologies to collect information about your online activities over time and across different websites.</li>
</ol>

<h2>How We Use Your Information</h2>

<p>We may use the information we collect for the following purposes:</p>

<ol>
    <li>To provide and maintain our services.</li>
    <li>To process your orders and transactions.</li>
    <li>To improve and personalize your experience on our website.</li>
    <li>To communicate with you, including sending order updates and marketing communications.</li>
    <li>To analyze usage patterns and improve our website's content and functionality.</li>
</ol>

<h2>Information Sharing</h2>

<p>We do not sell, trade, or otherwise transfer your personal information to third parties. We may share information with service providers who assist us in operating our website, conducting our business, or servicing you.</p>

<h2>Your Choices</h2>

<p>You can review and update your account information, as well as opt-out of marketing communications. You can also disable cookies in your browser settings, although this may affect your experience on our website.</p>

<h2>Security</h2>

<p>We take reasonable measures to protect your personal information from unauthorized access and disclosure. However, no method of transmission over the internet or electronic storage is completely secure.</p>

<h2>Changes to This Privacy Policy</h2>

<p>We may update this Privacy Policy to reflect changes in our practices or for other operational, legal, or regulatory reasons. We encourage you to review this Privacy Policy periodically.</p>

<h2>Contact Us</h2>

<p>If you have any questions or concerns about our Privacy Policy, please contact us at <a>inquiry@cookcrafts.com</a>.</p>
